body {
  margin: 0;
  font-family: Arial;
  background: #eef1f5;
}

.app {
  max-width: 650px;
  margin: auto;
  padding: 15px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

.item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  word-break: break-word;
}

.item:hover {
  background: #f5f5f5;
}

.property {
  margin-bottom: 15px;
}

.property label {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
  word-break: break-word;
}

.property input {
  width: 100%;
}

#progress {
  font-size: 12px;
  text-align: center;
}